<div class='w-full text-center'>
<%= form_with url: searchingg_path, method: :get, local: true do %>
    <div class="text-sm">
        <input type="text" name="city" placeholder="enter city name"
            spellcheck="false" class="border-2 border-gray-400 bg-white h-12 px-6 rounded-lg text-sm focus:border-blue-500 transition-all">
    </div>
    <br />
    <div>
        <button class="button">
            Search
        </button>
    </div>
<% end %>
    <br />
    <div class="text-2xl w-full">
            <%= @city %>
        <p class="text-2xl"> <%= Date.today.strftime("%A, %B %d, %Y") %> </p>
        <img class="mx-auto custom-img-size" src="http://openweathermap.org/img/w/<%= @data["weather"].first["icon"] %>.png">
        <p><%= @data["weather"].first["main"] %></p>
        <p class="text-2xl"> <%= @data["main"]["temp"].to_i %> °C </p>
    </div>
</div>